@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: none;
}
:root {
  --gold: rgb(245, 190, 11);
}
body {
  scroll-behavior: smooth;
  max-width: 1330px;
  margin: auto;
  cursor: none;
}
header {
  background-color: var(--gold);
  color: white;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 14px;
  width: 100%;
  height: auto;
  padding: 5px;
  text-align: center;
}
nav {
  width: 100%;
  height: auto;
  padding: 10px 0;
  font-size: 12px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  letter-spacing: 0.5px;
}
nav a {
  color: white;
  text-decoration: none;
}
.logo {
  width: 10%;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
  max-height: 40px;
  object-fit: contain;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 7px;
}
nav .actions > span {
  margin: 0 5px;
}
nav .mobile-menu {
  display: none;
}
.mobile-nav {
  display: none;
  width: 101%;
  /* border: 5px solid rgba(0, 0, 0, 0.8); */
  position: fixed;
  top: 0;
  right: 0px;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  animation: animate 0.8s;
  transition: width 0.2s linear;
}
@keyframes animate {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.mobile-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.close-btn {
  right: 30%;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  background-color: white;
  padding: 5px 15px;
  position: absolute;
}
.mobile-nav ul li {
  padding: 5px 0 5px 0;
  font-size: 16px;
  padding-left: 20px;
  background-color: aqua;
  margin-bottom: 20px;
}
.mobile-nav ul li:hover {
  background-color: aquamarine;
}
.mobile-nav ul {
  padding-top: 40px;
}
.mobile-nav a {
  color: black;
  text-decoration: none;
}
.mobile-nav-container {
  width: 70%;
  height: 100%;
  background-color: gray;
}
.mobile-nav .actions {
  font-size: 20px;
  color: black;
  padding: 20px;
  background-color: white;
}

.mobile-nav .actions span:hover {
  color: white;
  background-color: black;
}

.mobile-nav .actions span {
  padding: 20px;
  background-color: white;
}
.mobile-nav .actions {
  padding: 25px;
}
.home {
  width: 100%;
  height: 100vh;
  background-color: gold;
}
.home-container {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.home-container::after {
  content: "PERFECT GIFT FOR EVERY OCCASION";
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 20px;
  position: absolute;
  max-width: 450px;
  width: 30%;
  height: 350px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -30px 25px 30px 8px rgba(0, 0, 0, 0.4);
  background-image: url("https://img.freepik.com/free-photo/ripple-ornament-forever-drop-costume_1232-3547.jpg?size=626&ext=jpg&uid=R45993804&ga=GA1.1.721867007.1661084430&semt=sph");
  background-size: 90% 87%;
  background-position: center;
  background-origin: content-box;
  padding: 15px;
  padding-top: 35px;
  background-repeat: no-repeat;
}
.home-container::before {
  content: "";
  width: 55%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 40%;
  background-color: gray;
  background-image: url("https://img.freepik.com/premium-photo/gold-bride-jewellery-set_1396-382.jpg?size=626&ext=jpg&uid=R45993804&ga=GA1.1.721867007.1661084430&semt=sph");
  background-size: 100% 100%;
  background-position: left;
  background-repeat: no-repeat;
}
.home-right {
  /* flex: 40%; */
  width: 45%;
  align-self: flex-end;
  height: 100%;
  background-color: white;
  background-image: url("https://img.freepik.com/free-vector/mandala-illustration_53876-75290.jpg?size=626&ext=jpg&uid=R45993804&ga=GA1.1.721867007.1661084430&semt=sph");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}
h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 2px;
  text-align: center;
}
.smalltext {
  color: black;
  font-size: 26px;
  display: block;
  letter-spacing: 2px;
  text-align: center;
}
h1 strong {
  display: block;
}
.yellow-text {
  color: var(--gold);
}
.home-right p {
  letter-spacing: 2px;
  font-size: 26px;
  text-align: center;
}
/* .sticky ul {
  color: black;
} */
.sticky {
  width: 100%;
  z-index: 9;
  /* min-height: 70px; */
  max-width: 1330px;
  margin: auto;
  padding: 10px 20px;
  transform: translate(0, 0px);
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-play-state: running;
  animation-timing-function: ease;
  position: fixed;
  height: auto;
  box-shadow: 1px 3px 4px rgb(96 96 96 / 29%);
  /* padding: 0px 0 0px; */
  background: #fff;
  top: 0px;
  color: black;
}
.mousePointer {
  width: 50px;
  height: 30px;
  border: 2px solid black;
  background-color: transparent;
  /* border-radius: 100%; */
  position: absolute;
  z-index: 9999;
  transform: translate(-50%, -50%);
  backdrop-filter: grayscale();
  pointer-events: none;
  transition: all 0.6s ease;
  transition-property: width, transform;
}
.new {
  transform: scale(1.5);
  transform-origin: 100% 100%;
  border: 3px solid tomato;
}
@media only screen and (max-width: 1000px) {
  .home-container::after {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 700px) {
  nav {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .mousePointer {
    display: none;
  }
  * {
    cursor: auto;
  }
  header {
    font-size: 14px;
  }
  .home-container::before {
    width: 100%;
    height: 40%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 50%;
    right: 0;
    background-color: gray;
    background-image: url("https://img.freepik.com/premium-photo/gold-bride-jewellery-set_1396-382.jpg?size=626&ext=jpg&uid=R45993804&ga=GA1.1.721867007.1661084430&semt=sph");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
  }
  .home-right {
    width: 100%;
    height: 60%;
  }
  .actions .mobile-menu {
    display: inline;
    width: 5%;
  }
  nav {
    font-size: 16px;
    justify-content: space-between;
    padding: 8px 10%;
  }
  nav ul {
    display: none;
  }
  nav .actions > span {
    margin: 0 10px;
  }
  .mobile-nav .actions {
    font-size: 20px;
  }
  .mobile-menu {
    font-size: 18px;
    margin-left: 15px;
  }
  .home-container::after {
    /* content: "PERFECT GIFT FOR EVERY OCCASION"; */
    content: "";
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    max-width: 450px;
    width: 50%;
    height: 130px;
    background-color: white;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -30px 25px 30px 8px rgba(0, 0, 0, 0.4);
    background-image: url("https://img.freepik.com/free-photo/ripple-ornament-forever-drop-costume_1232-3547.jpg?size=626&ext=jpg&uid=R45993804&ga=GA1.1.721867007.1661084430&semt=sph");
    background-size: 90% 90%;
    background-position: center;
    background-origin: content-box;
    padding: 8px;
    /* padding-top: 20px; */
    background-repeat: no-repeat;
    display: block;
  }
}
@media only screen and (max-width: 400px) {
}
